header{
	width: 100%;
	height: auto;
	background-color: lightgrey;
	z-index: 4;
	border-bottom-style: solid;
}
#titre{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
	overflow-y: hidden;
}
#menu{
	border-radius: 20px;
	width:25%;
	height: 81%;
	position:absolute;
	background-color: lightgrey;
	top: 120px;
	z-index: 2;
	border-style: solid;
}
#titremenu{
	width: auto;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#connexion{
	background-color: royalblue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#connexion:hover{
	background-color: white;
	color: royalblue;
	border: 1px solid royalblue;
}
p{
	text-align: center;
	background: cornflowerblue;
	border-radius:5px;
	height: 30px;
	margin-bottom: 5px;
	grid-template-columns : repeat(2,50%);
	transition-duration: 0.5s;
}
.rubrique{
	color: black;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
}
.rubrique:hover{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
p:hover{
	padding: 3%;
	font-size: 120%;
	transition-duration: 0.5s;
	transition-delay: 0.2s;
	margin-bottom: 5px;
}
section:hover{
	transition-duration: 0.5s;
}
#mapid {
	width: 100%;
	height: 825px;
	z-index: 1;
}
#avertissement{
	float:left;
	background-color: royalblue;
	width: 25%;
	height: 100%;
	font-size: 120%;
	color: white;
	margin-right: auto;
	border-right-style: solid;
	border-color: black;
}
#textavertissement{
	float:right;
	width: 75%;
}
footer{
	display:flex;
	color: red;
	font-weight: bold;
	font-size: 150%;
	font-family: "MS Gothic";
	width: 100%;
	height: 30px;
	background-color: white;
	border-top-style: solid;
	border-top-color: black;
}