body{
	display: flex;
	flex-flow: column nowrap;
}

header{
	background-color: darkblue;
	border-style: solid;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
}

p{
	border-radius: 5px;
	background-color: darkgray;
	box-shadow: black 2px 2px 2px;
	padding: 5px;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
	padding: 5px;
}

#mapid {
	width: 50vw;
	order: 2;
	padding: 5px;
	height: 100%;
}

#mapborder{
	padding: 5px;
	border: solid 5px;
	border-radius: 10px;
	flex-grow: 10;
}

#menu {
	border-style: solid;
	border-radius: 5px;
	padding: 5px;
}

.container{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
}

.containerCol{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: stretch;
}
